.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100%);
  height: calc(100vh);
}

.form {
  background: white;
  width: 300px;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  height: 70px;
}

.row > label {
  font-size: 13px;
  font-weight: 200;
  color: rgba(1, 1, 1, 0.54);
}

input {
  background: none;
  outline: none;
  border: none;
  font-size: 17px;
  font-weight: bold;
}

.red {
  background: red;
  color: white;
}

.red > .row {
  border-bottom: 1px solid rgba(1, 1, 1, 0.54);
}

.red input {
  color: white;
}
